body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #084f8c;
}

.container {
    text-align: center;
}

#court {
    border: 5px solid #f0f0f0;
    background-color: #6fc9be;
    margin-top: 100px; /* Add margin to the top */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#player-inputs {
    margin-top: 20px;
}

#player-inputs div {
    margin: 5px 0;
}

#player-inputs input {
    padding: 5px;
    font-size: 14px;
}